.value{
    background-color: black;
    color: white;
    width: 5%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 100px;
    align-items: center;
}
.add{
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minus{
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}