.card{
    width: fit-content!important;
    margin: 20px;
}
.icon_p{
    margin-top: 13px;
    margin-bottom: 1rem;
    padding-left: 10px;
}
.Empty_Star{
    width: 80px;
    height: 80px;
}
.catOne{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 30px;
}
.card{
    width: 300px!important;
    padding-bottom: 30px;
}