.img_size{
    height: 350px;
    width: 300px;
    border-radius: 8px;
}
.txt{
    text-align: start;
    padding-right: 100px;
}

.nav{
    display: flex;
    justify-content: center;
    background-color: #F55A5A;
    height: 95px;
    align-items: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.nav_txt{
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.nav-item{
    display: flex;
    align-items: center;
}
.main{
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    max-width: 70%;
    margin-left: 15%;
    padding-bottom: 90px;
    margin-bottom: 50px;
    border-radius: 8px;
}